<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.name}さん"%>
      </h2>
      <div class="prototype__manage">
          <%= link_to "編集する", root_path, class: :prototype__btn %>
          <%= link_to "削除する", root_path, class: :prototype__btn %>
        </div>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">name</th>
            <td class="table__col2"><%= @user.name %></td>
          </tr>
          <tr>
            <th class="table__col1">mail</th>
            <td class="table__col2"><%= @user.email %></td>
          </tr>
          <tr>
            <th class="table__col1">password</th>
            <td class="table__col2"><%= @user.password %></td>
          </tr>
          <tr>
            <th class="table__col1">gender</th>
            <td class="table__col2"><%= @user.gender %></td>
          </tr>
          <tr>
            <th class="table__col1">introduction</th>
            <td class="table__col2"><%= @user.introduction %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "#{@user.name}さんの投稿一覧"%>
      </h2>
      <div class="user__card">
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
        <%= render partial: 'mypages/mypage', collection: @mypages %>
      </div>
    </div>
  </div>
</div>