<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.name}さん"%>
      </h2>
      <div class="prototype__manage">
        <% if user_signed_in? && current_user.id == @user.id%>
          <%= link_to "編集する", edit_user_registration_path, class: :prototype__btn %>
          <%= link_to "削除する", root_path, class: :prototype__btn %>
        <% end %>
        </div>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">name</th>
            <td class="table__col2"><%= @user.name %></td>
          </tr>

          <tr>
            <th class="table__col1">mail</th>
            <td class="table__col2"><%= @user.email %></td>
          </tr>

          <tr>
            <th class="table__col1">password</th>
            <td class="table__col2"><%= @user.password %></td>
          </tr>

          <tr>
            <th class="table__col1">gender</th>
            <td class="table__col2"><%= @user.gender %></td>
          </tr>

          <tr>
            <th class="table__col1">introduction</th>
            <td class="table__col2"><%= @user.introduction %></td>
          </tr>
            <% if  @user.twitter.present? %>
          <tr>
            <th class="table__col1">twitter</th>
            <td class="table__col2"><%= twitter_url @user.twitter %></td>
          </tr>
          <% end %>
          
          <tr>
            <th class="table__col1">facebook</th>
            <td class="table__col2"><%= @user.facebook %></td>
          </tr>

          <tr>
            <th class="table__col1">instagram</th>
            <td class="table__col2"><%=instagram_url @user.instagram %></td>
          </tr>

          <tr>
            <th class="table__col1">youtube</th>
            <td class="table__col2"><%= @user.youtube %></td>
          </tr>
          
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "#{@user.name}さんの投稿一覧"%>
      </h2>
      <div class="user__card">
        <%= render partial: 'mypages/mypage', collection: @mypages %>
      </div>
    </div>
  </div>
</div>

   