<%= form_with(model: @mypage, local: true) do |f|%>
<%= render 'layouts/error_messages', model: f.object %>
  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :catch_copy, "詳細" %><br />
    <%= f.text_area :catch_copy, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :concept, "コンセプト" %><br />
    <%= f.text_area :concept, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :image, "image" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :movie, "movie" %><br />
    <%= f.file_field :movie %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>